* {
    font-size: 105%;
    font-family: "Roboto", sans-serif;
}
.wrapper {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}
h1, h2{
    font-family: "Poiret One", cursive;
    text-align: center;
}
h1 {
    font-size: 300%;
}
h2 {
    font-size: 200%;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #eeeeee;
}
thead {
    background-color: #AAAAAA;
}
tr:nth-child(even) {
    background-color: #cccccc;
}
th, td {
    padding: 8px;
}
button {
    color: black;
    border: 1px solid black;
    border-radius: 2px;
}
.error {
    color: red;
}
.quicknav {
    position: absolute;
    top: 0;
    right: 0;
}