.wrapper {
    width: 65%;
    margin-right: auto;
    margin-left: auto;
}
table {
    border-collapse: collapse;
    border: 1px solid black;
    border-radius: 10px;
    background-color: #eeeeee;
}
thead {
    background-color: #AAAAAA;
}
tr:nth-child(even) {
    background-color: #cccccc;
}
th, td {
    padding: 8px;
}
button {
    color: black;
    border: 1px solid black;
    border-radius: 2px;
}
.error {
    color: red;
}